h1 {
    text-align: center;
    color: whitesmoke;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-color: #696B6F;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Rock, .Paper, .Scissors {
    margin: 20px;
    padding: 10px;
}
